// File: ChatProcess.sass
// Date: 8/29/2020
// Note: Chat module style/layout component - UIStyle/UIScreen

.chat
    display: flex
    flex-flow: column wrap
    background: darken(white, 10%)
    border: 3px solid lighten(black, 10%)

// eof
    